.item-benefit {
	&__title {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		color: $color-ebony;
	}

	&__text {
		line-height: 160%;
		color: $color-text;
	}

	&__box {
		position: relative;
		display: inline-block;
	}

	&__tooltip {
		position: absolute;
		right: -35px;
		top: 0;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: rgba(20, 16, 36, 0.08);
	}
}
