.popup {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
	&_active {
		opacity: 1;
		pointer-events: all;
		transition: 0.5s all;
	}
	&__body {
		height: 100%;
		overflow-y: scroll;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}
	&__content {
		position: relative;
		max-width: 940px;
		width: 100%;
		padding: 40px;
		border-radius: 20px;
		background: #ffffff;
		transform: scale(0);
		transition: 0.5s all;
		&_active {
			transform: scale(1);
			transition: 0.5s all;
		}
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		margin-bottom: 40px;
	}

	&__photo {
		max-width: 160px;
		max-height: 222px;
		overflow: hidden;
		border-radius: 20px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 575.98px) {
			max-height: 150px;
		}
	}

	&__name {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		color: $color-ebony;
	}

	&__position {
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 18px;
		line-height: 160%;
		color: $color-text;
	}

	&__socials {
		display: flex;
		gap: 10px;
	}

	&__close {
		position: absolute;
		top: 40px;
		right: 40px;
		color: $color-ebony;
		cursor: pointer;
		@media (max-width: 575.98px) {
			top: 20px;
			right: 20px;
		}
	}
}
.tabs {
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(20, 16, 36, 0.11);
		@media (max-width: 575.98px) {
			grid-template-columns: 1fr;
		}
	}

	&__row-item {
		&:not(:last-child) {
			padding-bottom: 15px;
			border-bottom: 1px solid rgba(20, 16, 36, 0.11);
		}
	}

	&__btn {
		text-align: left;
		font-weight: 400;
		font-size: 20px;
		line-height: 160%;
		cursor: pointer;
		&.active {
			color: $color-alizarin-crimson;
		}
	}

	&__info {
		max-height: 338px;
		@media (max-width: 575.98px) {
			max-height: 200px;
		}
	}

	&__content {
		display: none;
		padding-top: 20px;
		&.active {
			display: block;
		}
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__item {
		font-size: 20px;
		line-height: 160%;
	}

	&__title {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
	}
}
