<header class="header">
  <div class="header__container-full">
    <a href="" class="header__logo logo"><img src="@img/logo.svg" alt=""></a>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll>О школе</a></li>
        <li class="nav__item"><a href="#trainers" class="nav__link" data-scroll>Тренеры</a></li>
        <li class="nav__item"><a href="#rates" class="nav__link" data-scroll>Стоимость</a></li>
      </ul>
    </nav>
    <a href="tel:+78000001122" class="header__tel">+7 800 000 11 22</a>
    <button type="button" class="burger ">
      <span class="burger__line"></span>
    </button>
  </div>
</header>