<div class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <div class="popup__top">
        <div class="popup__photo">
          <img src="@img/popup/01.jpg" alt="">
        </div>
        <div class="popup__info">
          <p class="popup__name">Марина Орлова</p>
          <p class="popup__position">преподаватель по робототехнике</p>
          <div class="popup__socials">
            <a href="#!" target="_blank" class="popup__social"><img src="@img/icons/Facebook.svg" alt=""></a>
            <a href="#!" target="_blank" class="popup__social"><img src="@img/icons/Instagram.svg" alt=""></a>
          </div>
          <span class="popup__close">Закрыть</span>
        </div>
      </div>

      <div class="popup__bottom">
        <div class="tabs" data-tabs>
          <div class="tabs__row" data-row>
            <div class="tabs__row-item"><button class="tabs__btn active" type="button"
                data-btn="education">Образование</button></div>
            <div class="tabs__row-item"><button class="tabs__btn" type="button" data-btn="experience">Опыт
                работы</button>
            </div>
            <div class="tabs__row-item"><button class="tabs__btn" type="button" data-btn="awards">Награды</button></div>
          </div>
          <div class="tabs__info" data-simplebar data-simplebar-auto-hide="false">
            <div class="tabs__content active" data-content='education'>
              <ul class="tabs__list">
                <li class="tabs__item">Сентябрь 1995 — Июнь 2000</li>
                <li class="tabs__item">Санкт-Петербургский политехнический университет Петра Великого</li>
                <li class="tabs__item">Факультет: Компьютерных наук и технологий</li>
                <li class="tabs__item">Специальность: Математика и компьютерные науки</li>
                <li class="tabs__item">Форма обучения: Очная</li>
              </ul>
              <p class="tabs__title">Курсы и тренинги</p>
              <ul class="tabs__list">
                <li class="tabs__item">Сентябрь 1995 — Июнь 2000</li>
                <li class="tabs__item">Санкт-Петербургский политехнический университет Петра Великого</li>
                <li class="tabs__item">Факультет: Компьютерных наук и технологий</li>
                <li class="tabs__item">Специальность: Математика и компьютерные науки</li>
                <li class="tabs__item">Форма обучения: Очная</li>
              </ul>
            </div>
            <div class="tabs__content" data-content='experience'>
              <ul class="tabs__list">
                <li class="tabs__item">Сентябрь 1995 — Июнь 2001</li>
                <li class="tabs__item">Санкт-Петербургский политехнический университет Петра Великого</li>
                <li class="tabs__item">Факультет: Компьютерных наук и технологий</li>
                <li class="tabs__item">Специальность: Математика и компьютерные науки</li>
                <li class="tabs__item">Форма обучения: Очная</li>
              </ul>
              <p class="tabs__title">Курсы и тренинги</p>
              <ul class="tabs__list">
                <li class="tabs__item">Сентябрь 1995 — Июнь 2000</li>
                <li class="tabs__item">Санкт-Петербургский политехнический университет Петра Великого</li>
                <li class="tabs__item">Факультет: Компьютерных наук и технологий</li>
                <li class="tabs__item">Специальность: Математика и компьютерные науки</li>
                <li class="tabs__item">Форма обучения: Очная</li>
              </ul>
            </div>
            <div class="tabs__content" data-content='awards'>
              <ul class="tabs__list">
                <li class="tabs__item">Сентябрь 1995 — Июнь 2002</li>
                <li class="tabs__item">Санкт-Петербургский политехнический университет Петра Великого</li>
                <li class="tabs__item">Факультет: Компьютерных наук и технологий</li>
                <li class="tabs__item">Специальность: Математика и компьютерные науки</li>
                <li class="tabs__item">Форма обучения: Очная</li>
              </ul>
              <p class="tabs__title">Курсы и тренинги</p>
              <ul class="tabs__list">
                <li class="tabs__item">Сентябрь 1995 — Июнь 2000</li>
                <li class="tabs__item">Санкт-Петербургский политехнический университет Петра Великого</li>
                <li class="tabs__item">Факультет: Компьютерных наук и технологий</li>
                <li class="tabs__item">Специальность: Математика и компьютерные науки</li>
                <li class="tabs__item">Форма обучения: Очная</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>