.about {
	&__text {
		max-width: 891px;
		margin-bottom: 60px;
		line-height: 160%;
		font-size: 30px;
		color: $color-ebony;
		span {
			font-weight: 600;
		}
	}

	&__wrapper {
		display: grid;
		gap: 40px;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	}

	&__item {
		@media (max-width: 767.98px) {
			text-align: center;
		}
	}
}
