.order {
	padding: 87px 0;
	background: url(../img/order/order-bg.svg) bottom repeat-x;
	background-color: $color-alizarin-crimson;
	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
		@media (max-width: 991.98px) {
			grid-template-columns: repeat(6, 1fr);
		}
		@media (max-width: 575.98px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__left {
		grid-column: 5 span;
		padding-top: 20px;
		padding-left: 60px;
		color: #fff;
		@media (max-width: 991.98px) {
			padding-left: 0;
			grid-column: 3 span;
		}
		@media (max-width: 575.98px) {
			padding-top: 0;
		}
	}

	&__title {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 36px;
		line-height: 130%;
		@media (max-width: 424.98px) {
			font-size: 28px;
		}
	}

	&__desc {
		font-size: 20px;
		line-height: 130%;
	}

	&__right {
		grid-column: 7 span;
		display: flex;
		justify-content: flex-end;
		padding-right: 60px;
		@media (max-width: 991.98px) {
			padding-right: 0;
			grid-column: 3 span;
		}
	}

	&__form {
		max-width: 500px;
		@media (max-width: 991.98px) {
			max-width: 100%;
		}
	}
}
